<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIF_ERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIF_ERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SIF_ERP.My.MySettings.SIFConnectionString2" connectionString="Data Source=SVRCOASPAE;Initial Catalog=SIF;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SIF_ERP.My.MySettings.SIFConnectionString1" connectionString="Data Source=192.168.1.3;Initial Catalog=SIF;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SIF_ERP.My.MySettings.TestLocal" connectionString="Data Source=LAPTOP-H5QPF2OG\SQLEXPRESS;Initial Catalog=SIF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SIF_ERP.My.MySettings.CONNPLANILLAS" connectionString="Data Source=LAPTOP-H5QPF2OG\SQLEXPRESS;Initial Catalog=SIF;Integrated Security=True" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SIF_ERP.My.MySettings>
            <setting name="CorreoCumpleaños" serializeAs="String">
                <value>prueba</value>
            </setting>
            <setting name="UserCredenciales" serializeAs="String">
                <value>prueba</value>
            </setting>
            <setting name="PwdCredenciales" serializeAs="String">
                <value>prueba</value>
            </setting>
            <setting name="CarpetaRS" serializeAs="String">
                <value>rsCOASPAE</value>
            </setting>
            <setting name="PRODUCCION" serializeAs="String">
                <value />
            </setting>
            <setting name="saldosCC" serializeAs="String">
                <value />
            </setting>
            <setting name="saldosCCConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="SIFConnectionString" serializeAs="String">
                <value />
            </setting>
        </SIF_ERP.My.MySettings>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Remoting" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SIF_ERP.My.MySettings>
      <setting name="SIF_ERP_wrAdmin_wsLibAdmin" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibAdmin.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrAhorro_wsLibAhorro" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibAhorro.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrAsociados_wsLibAsoc" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibAsoc.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrBancos_wsLibBancos" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibBancos.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrConta_wsLibContab" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibContab.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrCredito_wsLibCred" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibCred.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrPlanilla_wsLibPlanilla" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibPlanilla.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrPrestamo_wsLibPrest" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibPrest.asmx</value>
      </setting>
      <setting name="SIF_ERP_wrCaja_wsLibCaja" serializeAs="String">
        <value>http://192.168.1.115:9100/wsLibCaja.asmx</value>
      </setting>
    </SIF_ERP.My.MySettings>
  </applicationSettings>
</configuration>
