<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIF_ERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIF_ERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
	
  <connectionStrings>
    <add name="SIF_ERP.My.MySettings.CONNPLANILLAS" connectionString="Data Source=localhost;Initial Catalog=SIF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SIF_ERP.My.MySettings.PRODUCCION" connectionString="Data Source=localhost;Initial Catalog=SIF;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PRODUCCION"  value="Server=localhost;Database=SFBCoopPr2;Initial Catalog=SIF;Integrated Security=True;" />
  </appSettings>
  <applicationSettings>
    <SIF_ERP.My.MySettings>
      <setting name="SIF_ERP_wsSIF_ERP_LibActivoFijo_wsLibActivoFijo"
        serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibActivoFijo.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP2011_wsLibPlanilla_wsLibPlanilla"
        serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibPlanilla.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibAdmin_wsLibAdmin" serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibAdmin.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibAhorro_wsLibAhorro"
        serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibAhorro.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibAsoc_wsLibAsoc" serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibAsoc.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibBancos_wsLibBancos"
        serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibBancos.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibCaja_wsLibCaja" serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibCaja.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibContab_wsLibContab"
        serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibContab.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibCred_wsLibCred" serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibCred.asmx</value>
      </setting>
      <setting name="SIF_ERP_wsSIF_ERP_LibPrest_wsLibPrest" serializeAs="String">
        <value>http://192.168.1.12:8080/wsSIF_ERP2011/wsLibPrest.asmx</value>
      </setting>
    </SIF_ERP.My.MySettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <SIF_ERP.My.MySettings>
   <setting name="UserRS" serializeAs="String">
    <value>Desarrollo.Net</value>
   </setting>
   <setting name="PwdRS" serializeAs="String">
    <value>DPNcoo000</value>
   </setting>
   <setting name="CorreoCumpleaños" serializeAs="String">
    <value>correo</value>
   </setting>
   <setting name="UserCredenciales" serializeAs="String">
    <value>correo</value>
   </setting>
   <setting name="PwdCredenciales" serializeAs="String">
    <value>contrasenia</value>
   </setting>
  </SIF_ERP.My.MySettings>
 </userSettings>
</configuration>
           